* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(212, 86, 86, 0.85);
    min-height: 80vh;
}

.clear {
    display: block;
    margin: 2vh auto;
    width: 100px;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background: #fff97a;
    border: none;
}

.clear:hover,
.clear:focus {
    cursor: pointer;
    text-decoration: underline;
}



.gamearea {
    --box-size: calc(min(100vh, 100vw) * 0.8 / 3);
    background: #fff;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, var(--box-size));
    grid-template-rows: repeat(3, var(--box-size));
    grid-gap: 2px;
}

.box {
    position: relative;
    border: 1px solid;
}

.box:hover,
.box:focus {
    cursor: pointer;
    outline: #000 solid;
}

.gamearea[data-results="true"] .box:hover,
.gamearea[data-results="true"] .box:focus {
    cursor: default;
    outline: none;
}

.box:nth-child(odd) {
    background: #7a7aff;
}

.box:nth-child(even) {
    background: #7aff7a;
}

.box::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
}

.box[data-type="x"]::after {
    content: "X";
}

.box[data-type="o"]::after {
    content: "O";
}

.taken {
    animation: busy 100ms linear 1 alternate;
}

@keyframes busy {
    0% {
        left: -5%;
    }

    100% {
        left: 5%;
    }
}

.vinnare {
    border: none;
    border: 3px solid #f00;
}

.vinnare::after {
    font-size: 50pt;
    font-weight: bold;
}

.result {
    background: radial-gradient(#7aff7a, #7a7aff);
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18pt;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    border-radius: 50px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    color: #000;
}

.gamearea[data-results="true"] .overlay {
    opacity: 0.4;
    transition: opacity 500ms linear;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    background: #aaa;
}

.showResult {
    opacity: 1;
    transition: opacity 1s linear 200ms;
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    66% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}